@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right,#F1D8C9,#F2C3A7);
}
main {
    background-color: white;
    width: 600px;
    box-shadow: 5px 5px 15px #9173646b;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px #7e4b0591;
}
h2 {
    color: #125189;
}
p {
    text-align: justify;
}